body {
    font-family: Helvetica, Arial, Sans-Serif;
    margin: 0em;
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    position: relative;
    width: 90%;
    z-index: 3;
}

#cycler .active {
    z-index: 1;
}

#cycler .fade {
    opacity: 0;
    transition: opacity 2s;
}

#cycler .next {
    z-index: 0;
}

#cycler img {
    min-height: 100%;
    min-width: 64em;
    position: fixed;
    width: 100%;
    z-index: -9999;
}

#search-group {
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    display: flex;
    opacity: 0.8;
    width: 35%;
}

.search-group-right {
    float: right;
}

#search-group * {
    background-color: #ffffff;
    border: 0px;
    font-size: 14px;
    height: 1.8em;
}

#search-input {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #search-group {
        width: 100%;
        margin-top: 25%;
    }
    
    #search-group * {
        font-size: 20px;
    }
    
    #cycler img {
        top: -125%;
        right: -125%;
        bottom: -125%;
        left: -125%;
        margin: auto;
    }
}